/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* main */

:root {
  --vert: #1dd1a1;
  --jaune: #ffc045;
  --blanc: #fff;
  --noir: #000;
  --beige: beige;
  --success: #2ecc71;
  --error: #e74c3c;
}

.wrap {
  background-color: var(--jaune);
}

.wrap-recruiter {
  background-color: var(--vert);
}

.hidden {
  display: none;
}

.greenName {
  color: var(--vert);
  font-weight: bold;
}

/* Header */

header {
  display: flex;
  background-color: var(--blanc);
}

header a {
  text-decoration: none;
  color: var(--noir);
}

header a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.header-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 20px;
}

a.tabButton:hover {
  cursor: pointer;
}

.nav_logo .logoSably img {
  width: 80%;
}

.nav_logo .logoSably img:hover {
  cursor: pointer;
}

.image_off,
#home:hover .image_on {
  display: none;
}

.image_on,
#home:hover .image_off {
  display: block;
}

.header-wrap div {
  width: 30%;
}

.nav_buttons {
  display: flex;
  justify-content: center;
}

.nav_buttons div {
  text-align: center;
}

.nav_login {
  text-align: right;
}

.nav_login a {
  background-color: #ffc045;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.3s;
}

.nav_login a:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* intro */

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  padding-top: 50px;
}

#intro .petite-boite,
.titleWebSite {
  font-size: 1.7em;
  margin-bottom: 50px;
}
.petite-boite-contact {
  font-size: 1.7em;
  margin-bottom: 20px;
}
#intro .logo-play .fas {
  background-color: var(--blanc);
  border-radius: 50%;
  padding: 20px;
}

#intro .logo-play .fas:hover {
  background-color: var(--blanc);
  border-radius: 50%;
  padding: 20px;
  color: #ffc045 !important;
}

/* Sheet */

.wrap-sheet {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

#sheet {
  background-color: var(--blanc);
  width: 90%;
  height: auto;
  position: relative;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
  padding: 20px 20px;
  z-index: 97;
}

#sheet .logo-seul {
  width: 60px;
  position: absolute;
  top: -48px;
  right: -10px;
  transform: rotate(-12deg);
}

/* FORMULAIRE==================CONTACT */
/* form#formLogin, */
form#formSignin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 40px;
}

/* form#formLogin input, */
form#formSignin input {
  margin: 20px 10px;
  padding-left: 20px;
  width: 300px;
  height: 50px;
  font-size: 100%;
  border-radius: 80px;
  border: 1px solid black;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
  outline: none;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}

/* form#formLogin textarea, */
form#formSignin textarea {
  width: 400px;
  height: 150px;
  border-radius: 10px;
  border: 1px solid black;
  margin-bottom: 30px;
  resize: none;
  text-align: center;
  outline: none;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  height: 200px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
}

/* form#formLogin input[type="submit"], */
form#formSignin input[type="submit"] {
  cursor: pointer;
  background-color: #ffc045;
  color: #fff;
  text-transform: uppercase;
  border: none;
}

/* form#formLogin input[type="submit"]:hover, */
form#formSignin input[type="submit"]:hover {
  background-color: #fff;
  color: #ffc045;
  border: 1px solid #ffc045;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
  background-color: var(--blanc);
  position: relative;
  border-radius: 10px;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* Tableau espace recruteur */
.table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #1dd1a1;
}
.table td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.table th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.table .cellule {
  text-align: center;
  vertical-align: top;
}

.table td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.table th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.table .cellule {
  text-align: center;
  vertical-align: top;
}

.cellule a {
  font-weight: bold;
  color: black;
}

/* Modale et bouton supprimer */
.modal__title {
  padding-top: 5px;
  margin-left: 25px;
}

.boutonsupprimer {
  margin-left: 45px;
  align-self: center;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffc045;
  border: #ffc045 1px solid;
  border-radius: 30px;
  color: #fff;
  transition: all 0.4s;
  padding: 10px 10px;
}

.boutonsupprimer:hover {
  background-color: #fff;
  color: var(--jaune);
  font-weight: bold;
  cursor: pointer;
  transform: scale(1.05);
}

/* Legal */

#sheet .legal {
  line-height: 1.5em;
  margin-left: 5px;
}

#sheet .legal strong {
  font-size: 1.3em;
}

#sheet .legal h2 {
  font-size: 1.3em;
  margin: 7px 0px;
  text-align: center;
  text-decoration: underline;
}

#sheet .legal h3 {
  font-size: 1.3em;
  margin: 10px 0px;
  text-decoration: underline;
}

/* Footer */

footer {
  background-color: var(--beige);
}

.footerwrap {
  position: relative;
  height: 200px;
  top: -200px;
  background-color: var(--beige);
}

.contentfooter {
  display: flex;
  position: relative;
  background-color: var(--beige);
  text-align: center;
  height: 10px;
  top: -200px;
  padding-top: 30px;
  justify-content: center;
}

.copyrights {
  margin-top: 78px;
}

.rights {
  text-decoration: underline;
  color: black;
}

.rights:hover {
  font-weight: bold;
}

/*HOME*/

.titleSection {
  text-align: center;
  font-size: 2.5em;
  text-transform: uppercase;
  margin-top: 20px;
}

.blocHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  line-height: 30px;
  font-size: large;
}

.boxHome {
  width: 45%;
}

/* page 404 */

.error-404 .not-found {
  display: flex;
}

.notfoundsvg {
  width: 45%;
  display: flex;
  margin: 0;
  padding: 0;
  display: flex;
}

.introuvable {
  display: flex;
  font-size: 50px;
}

.page-content-404 h1 {
  justify-content: center;
  padding-bottom: 50px;
}

.page-content-404 img {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.page-content-404 div {
  width: 100%;
}

/* RECRUTER */

/*INFO USER*/

#infoUser {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.dividerUser {
  width: 1px;
  height: auto;
  background-color: #bdc3c7;
}

section.divider {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}

.dividerHorizontale {
  width: 80%;
  height: 1px;
  background-color: #bdc3c7;
}

#infoUser .leftColumnUser,
#infoUser .rightColumnUser {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.buttonForSignin {
  /* margin-top: 20px; */
  display: flex;
  justify-content: center;
}

.featuredInformation {
  text-align: center;
  margin-top: 40px;
}

div.input-area-infoUser,
div.input-area-login,
div.input-area-signin {
  margin-top: 6%;
  display: flex;
  justify-content: center;
}

form#formInfoUser,
#formlogin,
#formsignin {
  padding: 0;
}

form#formInfoUser input {
  border: none;
  border-bottom: #ffc045 1px solid;
  border-radius: 5px;
  transition: all 0.1s;
  color: #000;
  font-size: 1.1em;
  text-transform: uppercase; /* uppercase connexion */
  padding-left: 1%;
  width: 60%;
}

#formlogin input,
#formsignin input {
  border: none;
  border-bottom: #ffc045 1px solid;
  border-radius: 5px;
  transition: all 0.1s;
  color: #000;
  font-size: 1.1em;
  padding-left: 1%;
  width: 60%;
}

form#formInfoUser input:focus,
#formlogin input:focus,
#formsignin input:focus {
  outline: none;
}

form#formInfoUser input::placeholder,
#formlogin input::placeholder,
#formsignin input::placeholder {
  text-transform: uppercase;
}

form#formInfoUser label,
#formlogin label,
#formsignin label {
  font-size: 1.2em;
  text-transform: uppercase;
  width: 25%;
}

.input-area-infoUser i,
.input-area-login i,
.input-area-signin i {
  margin: 0 3% 0 3%;
}
form#formInfoUser input[type="submit"],
form#formlogin input[type="submit"],
form#formsignin input[type="submit"] {
  width: auto;
  margin-top: 30px;
  padding: 10px 10px;
  text-align: center;
  background-color: #ffc045;
  border: #ffc045 1px solid;
  border-radius: 30px;
  color: #fff;
  transition: all 0.4s;
}

form#formInfoUser input[type="submit"]:hover,
form#formlogin input[type="submit"]:hover,
form#formsignin input[type="submit"]:hover {
  background-color: #fff;
  color: var(--jaune);
  cursor: pointer;
  font-weight: bold;
  transform: scale(1.05);
}

.submitButtonInfoUser,
.submitButtonlogin,
.submitButtonsignin {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.buttonForSignin {
  flex-direction: column;
  align-items: center;
  line-height: 28px;
}

.button-forgot {
  color: var(--jaune);
  font-weight: bold;
}

.button-signin {
  color: var(--jaune);
  font-weight: bold;
}

.error-infoUser,
.error {
  color: var(--error);
}

span.error {
  align-self: center;
  color: #e74c3c;
}

.souligne {
  text-decoration: underline;
}

.infosCvUser {
  text-align: center;
  line-height: 30px;
}

/* -----------LISTING DATA CV--------------- */

.titleCvSection {
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}

.listing {
  width: 100%;
}

.singleContent {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 10px 0;
}

.parametreButton {
  width: 15%;
  display: flex;
  justify-content: space-between;
}

.parametreButton div {
  padding-bottom: 10px;
}

.parametreButton div:hover {
  cursor: pointer;
}

#myCV .titleSection {
  margin-bottom: 15px;
}

.infoCvContent .titleInfo {
  font-weight: bold;
  text-decoration: underline;
}

/*------------ADD DATA IN CV---------------*/

#MyExperience,
#MyFormation,
#MySkill,
#MyLoisir,
#MyReward,
#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.detail {
  text-align: center;
}

.detail p {
  line-height: 20px;
}

.detail h1 {
  font-weight: bold;
  text-decoration: underline;
}

#recruiterBackground {
  background-color: var(--vert);
}

.nomcv {
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 15px;
  margin-bottom: 15px;
}

div.formContainer {
  width: 80%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.showFormButton {
  width: 24%;
  align-self: center;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ffc045;
  border: #ffc045 1px solid;
  border-radius: 30px;
  color: #fff;
  transition: all 0.4s;
}

div.showFormButton:hover {
  background-color: #fff;
  color: var(--jaune);
  font-weight: bold;
  cursor: pointer;
  transform: scale(1.05);
}
form.formSlideEffect .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

form.formSlideEffect .row-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 40px;
}
.submitButtonContact,
.submitButtonAdd {
  display: flex;
  justify-content: center;
}

form.formSlideEffect i {
  margin: 0 3%;
}

i.animation {
  animation: activeInput 2s ease-in-out infinite;
}
form.formSlideEffect .input-area {
  margin: 2% 0;
  display: flex;
  justify-content: center;
  width: 48%;
}

form.formSlideEffect label {
  font-size: 1.2em;
  text-transform: uppercase;
  width: 25%;
}

form.formSlideEffect input {
  border: none;
  border-bottom: #ffc045 1px solid;
  border-radius: 5px;
  transition: all 0.1s;
  color: #000;
  font-size: 1.1em;
  padding-left: 1%;
  width: 60%;
}

form.formSlideEffect input:focus {
  outline: none;
}

form.formSlideEffect input[type="submit"],
#formCreateCV input[type="submit"] {
  width: auto;
  margin-top: 30px;
  padding: 10px 10px;
  text-align: center;
  background-color: #ffc045;
  border: #ffc045 1px solid;
  border-radius: 30px;
  color: #fff;
  transition: all 0.4s;
}

form.formSlideEffect input[type="submit"]:hover,
#formCreateCV input[type="submit"]:hover {
  background-color: #fff;
  color: var(--jaune);
  cursor: pointer;
  font-weight: bold;
  transform: scale(1.05);
}

form.formSlideEffect .textArea {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

form.formSlideEffect .textArea .titleTextArea {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2em;
  margin-bottom: 20px;
}

form.formSlideEffect .textArea .textContent {
  text-align: center;
}

form.formSlideEffect .textArea textarea {
  resize: none;
  border: 1px solid var(--jaune);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 90%;
  height: 200px;
  border-radius: 10px;
  padding: 2%;
}

form.formSlideEffect .textArea textarea:focus {
  outline: none;
}

/*-----------CREATE CV--------*/

.uDontHaveCv {
  text-align: center;
  margin: 20px 0;
}

#formCreateCV {
  display: flex;
  justify-content: center;
}

.parametreButton2 {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.parametreButton2 div {
  margin: 0 10px;
  padding-bottom: 10px;
}

.parametreButton2 div:hover {
  cursor: pointer;
}

.deleteCvInput {
  color: #fff;
  border-color: var(--error);
  background-color: var(--error);
}

.deleteCvInput:hover {
  color: var(--error);
}

.infoCvContent {
  display: flex;
  justify-content: flex-start;
  font-size: 1.2em;
  margin: 10px 0;
}

.infoCvContent .titleInfo {
  text-transform: uppercase;
  font-weight: bold;
  width: 20%;
}

/* RESPONSIVE=============== */
@media only screen and(max-width: 990px ) {
}

/*-----------KEY FRAME-----------*/

@keyframes activeInput {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}

/*-------------HOVER CSS------------------*/

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--success);
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

/* Underline From Right */
.hvr-underline-from-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 100%;
  right: 0;
  bottom: 0;
  background: var(--error);
  height: 4px;
  -webkit-transition-property: left;
  transition-property: left;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-right:hover:before,
.hvr-underline-from-right:focus:before,
.hvr-underline-from-right:active:before {
  left: 0;
}

/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: var(--jaune);
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/* TABLEAU============================== */
.table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #1dd1a1;
}
.table td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.table th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.table .cellule {
  text-align: center;
  vertical-align: top;
}

/* RESPONSIVE============================== */

@media screen and (max-width: 1200px) {
  .singleContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  #infoUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (max-width: 800px) {
  .nav_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .blocHome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    line-height: 30px;
    font-size: medium;
  }
  .input-area-contact {
    font-size: 0.7em;
  }
  .petite-boite-contact {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 790px) {
  form#formInfoUser input {
    display: flex;
    justify-content: space-between;
    font-size: 0.5em;
  }
  form#formInfoUser label,
  #formlogin label,
  #formsignin label {
    font-size: 10px;
  }
  #infoUser {
    display: flex;
    justify-content: space-between;
  }
  .fa-arrow-right {
    font-size: 10px;
  }
  .showFormButton {
    font-size: 10px;
  }
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
  }
  form.formSlideEffect .textArea .titleTextArea {
    font-size: 1em;
  }
  #intro .petite-boite,
  .titleWebSite {
    font-size: 1.5em;
    margin-bottom: 50px;
  }
  .titleSection {
    font-size: 2em;
  }
  .submitButtonsignin {
    font-size: 10px;
  }
  .submitButtonlogin {
    font-size: 10px;
  }
  #myCV .titleSection {
    margin-bottom: 15px;
    font-size: 15px;
  }

  .infoCvContent .titleInfo {
    text-decoration: none;
    font-size: 15px;
  }
  .titleCvSection{
    font-size: 15px;
  }
}
@media only screen and (max-width: 730px) {
  .introuvable {
    font-size: 30px;
  }
}
@media screen and (max-width: 620px) {
  .button-login {
    font-size: 10px;
  }
  .nav_logo .logoSably img {
    width: 150%;
  }
  .petite-boite-contact {
    font-size: 1.3em;
  }
  .textArea,
  .submitButtonContact {
    font-size: 13px;
  }
  .input-area-contact {
    font-size: 7px;
  }
}
@media screen and (max-width: 470px) {
  .input-area-infoUser {
    font-size: 12px;
  }
  form#formInfoUser label,
  #formlogin label,
  #formsignin label {
    font-size: 8px;
  }

  /* #infoUser {
    margin-top: 0;
    margin-bottom: 0;
  } */
  .infosCvUser{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
  }
}
@media screen and (max-width: 465px) {
  .titleSection {
    font-size: 1.5em;
  }
  /* .fa-arrow-right{
    font-size: 10px;
  } */
  .buttonForSignin {
    display: flex;
    flex-direction: column;
  }
  .infoCvContent .titleInfo, .contentInfo {
    text-decoration: none;
    font-size: 15px;
  }
  .infoCvContent .titleInfo {
    font-size: 13px;
  }
}
@media screen and (max-width: 450px) {
  .introuvable {
    font-size: 20px;
  }
  .singleContent {
    font-size: 10px;
  }
}
@media screen and (max-width: 410px) {
  .nav_buttons {
    margin: 20px 0 20px 0;
  }
  .button-home {
    margin-bottom: 20px;
  }
  .button-logout {
    margin-bottom: 20px;
  }
  #intro .petite-boite,
  .titleWebSite {
    font-size: 1.3em;
    margin-bottom: 20px;
  }
  .showFormButton {
    font-size: 8px;
  }
  .petite-boite-contact {
    font-size: 1.1em;
  }
  .input-area-contact {
    font-size: 5px;
  }
  .textArea,
  .submitButtonContact {
    font-size: 10px;
  }
  form#formInfoUser label,
  #formlogin label,
  #formsignin label {
    font-size: 5px;
  }
}

@media screen and (max-width: 395px) {
  .row {
    font-size: 8px;
  }
}

@media screen and (max-width: 350px) {
  .header-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .image_off,
  .image_on {
    display: none;
  }
  .infoUser {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .textArea,
  .submitButtonContact {
    font-size: 10px;
  }
}

@media screen and (max-width: 290px) {
  .introuvable {
    font-size: 18px;
  }
}
